/* reset */

html, body, h1, h2, p {
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 0;
    line-height: 0;
}

img {
    width: 80%;
    height: auto;
}

/* styles */

body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4em;
}

h1 {
    font-weight: 900;
    font-size: 35px;
    color: black;
    padding-bottom: 5rem;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding-bottom: 2em;
}

.main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 4em;
    grid-row-gap: 7em;
    grid-column-gap: 3em;
}

.main p {
    font-size: 13px;
    text-align: right;
    font-weight: 5;
}

.lowtidep {
    grid-column: 2 / span 1;
}

.img3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.img4 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.img5 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.img6 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

.img7 {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
}

.img8 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}

.img9 {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
}

.footer {
   font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 5;
    position: fixed;
    bottom: 3em;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: darkgray;
}

h2:hover {
    font-weight: bold;
}







@media screen and (max-width:800px) {
    h1 {
        font-size: 25px;
        padding-bottom: 1em;
    }
}

@media screen and (max-width:800px) {
    h2 {
        font-size: 12px;
        padding-bottom: 1em;
    }
}

@media screen and (max-width:800px) {
    body{
        margin: 2em;
    }
    .main{
        display: block;
        font-size: 11px;
    }
    .lowtidep{
        font-size: 11px;
        text-align: right;
        font-weight: 5;
        padding-bottom: 1em;
    }
    .img1{
        width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img2{
        width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img3{
         width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img4{
         width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img5{
         width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img6{
         width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img7{
         width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img8{
         width: 100%;
        text-align: right;
        padding-bottom: 2em;
    }
    .img9{
         width: 100%;
        text-align: right;
        padding-bottom: 3em;
    }
}

@media screen and (max-width:800px) {
    .footer{
        display: inherit;
        padding-bottom: 0rem;
        font-size: 10px;
        font-weight: 5;
    }
    .footer p{
        padding-bottom: 5px;
    }
    .umbruch{
        padding-bottom: 5px;
    }
}